In [3]:
import pyodbc
import pandas as pd
conn = pyodbc.connect('Driver={/opt/microsoft/msodbcsql17/lib64/libmsodbcsql-17.6.so.1.1};'
                      'Server=localhost;'
                      'Database=Products;'
                      'UID=AMAAN;'
                      'PWD=AMAAN@123')

cursor = conn.cursor()

df = pd.read_csv("products.csv")


products = cursor.execute("SELECT TOP 12 ids from PRODS_AMAAN;").fetchall()

# cursor.close()

In [4]:
def name(idx):
    return df.loc[df["ids"]==idx,"name"].to_list()[0]

In [5]:
names = cursor.execute("SELECT ids,names from PRODS;").fetchall()

In [6]:
for x in names:
    print(x)
    break

('eac7efa5dbd3d667f26eb3d3ab504464', 'Hornby 2014 Catalogue')

In [7]:
df.iloc[10]["name"]

'Mehano - Coffret TGV duplex 3.5 m'

In [8]:
df["names"] = df["name"]

In [9]:
df.to_csv("products.csv",index=False)

In [10]:
idx=df.iloc[0]["ids"]
idx

'eac7efa5dbd3d667f26eb3d3ab504464'

In [11]:
# Select name from table when id is given

cursor.execute("SELECT names FROM PRODS where ids = ?", idx).fetchall()[0][0]
# cursor.execute(f"SELECT * FROM PRODS WHERE ids={idx};")

'Hornby 2014 Catalogue'

In [12]:
manu = df.iloc[0]["manufacturer"]

In [13]:
df.loc[df["manufacturer"]==manu,"ids"]

0      eac7efa5dbd3d667f26eb3d3ab504464
2      87bbb472ef9d90dcef140a551665c929
3      7e2aa2b4596a39ba852449718413d7cc
4      93a2c5173f17b896dc614ffbac0c2f2c
6      fe0b2ec319cde46d25c34eda5bdc6089
9      de3a9b8508d72623ded8cb07dc30331e
275    c860ae6ec107e72c2b10da68e5c3a371
276    f8dec54d7f301352132faadc8a169048
280    02162144a863eba0766549dbd0e3b5fa
Name: ids, dtype: object

In [14]:
manus = cursor.execute("SELECT ids FROM PRODS where manufacturer = ?", manu).fetchall()
manus

[('eac7efa5dbd3d667f26eb3d3ab504464', ),
 ('87bbb472ef9d90dcef140a551665c929', ),
 ('7e2aa2b4596a39ba852449718413d7cc', ),
 ('93a2c5173f17b896dc614ffbac0c2f2c', ),
 ('fe0b2ec319cde46d25c34eda5bdc6089', ),
 ('de3a9b8508d72623ded8cb07dc30331e', ),
 ('c860ae6ec107e72c2b10da68e5c3a371', ),
 ('f8dec54d7f301352132faadc8a169048', ),
 ('02162144a863eba0766549dbd0e3b5fa', )]

In [15]:
for prod_id in manus:
    print(prod_id[0])

eac7efa5dbd3d667f26eb3d3ab504464
87bbb472ef9d90dcef140a551665c929
7e2aa2b4596a39ba852449718413d7cc
93a2c5173f17b896dc614ffbac0c2f2c
fe0b2ec319cde46d25c34eda5bdc6089
de3a9b8508d72623ded8cb07dc30331e
c860ae6ec107e72c2b10da68e5c3a371
f8dec54d7f301352132faadc8a169048
02162144a863eba0766549dbd0e3b5fa

In [16]:
# Get all
idx=df.iloc[0]["ids"]
columns = [column[0] for column in cursor.description]
res = cursor.execute("SELECT * FROM PRODS WHERE ids = ?",idx).fetchall()

for row in res:
    res_dict = dict(zip(columns, row))

res_dict

{'ids': 'Hornby'}

In [17]:
idx = df.iloc[0]["names"]
cursor.execute("SELECT ids FROM PRODS WHERE names=?",idx).fetchall()[0][0]

'eac7efa5dbd3d667f26eb3d3ab504464'

In [18]:
def get_all(id):
    columns = [column[0] for column in cursor.description]
    res = cursor.execute("SELECT * FROM PRODS WHERE ids = ?",id).fetchall()
    result=[]
    for row in res:
        result.append(dict(zip(columns, row)))
    
    return result[0]

In [19]:
get_all(idx)

IndexError: list index out of range

In [20]:
idx = "7e2aa2b4596a39ba852449718413d7cc"
columns = [column[0] for column in cursor.description]
res = cursor.execute("SELECT * FROM PRODS WHERE ids = ?",idx).fetchall()
result=[]
for row in res:
    result.append(dict(zip(columns, row)))

# 7e2aa2b4596a39ba852449718413d7cc

In [21]:
result[0]["names"]

'Hornby Gauge Western Express Digital Train Set with eLink and TTS Loco Train Set'

In [22]:
df.loc[df["names"]==result[0]["names"],:].index

Int64Index([3], dtype='int64')

In [23]:
def get_all(idx):
    
    columns = [column[0] for column in cursor.description]
    res = cursor.execute("SELECT * FROM PRODS WHERE ids = ?",idx).fetchall()
    
    result=[]
    for row in res:
        result.append(dict(zip(columns, row)))
    
    return result[0]

In [24]:
get_all("7e2aa2b4596a39ba852449718413d7cc")["names"]

'Hornby Gauge Western Express Digital Train Set with eLink and TTS Loco Train Set'

In [25]:
res = cursor.execute("SELECT * FROM PRODS WHERE ids = ?",idx).fetchall()

In [26]:
res[0]

('Hornby', 235.58, 4.0, 1.0, 1.0, 5.0, 'Hornby-Western-Master-E-Link-Electric', 'Hornby-Western-Master-E-Link-Electric', 'Amazon.co.uk', 'new', 'Hobbies ', ' Model Trains & Railway Sets ', 'Hornby Gauge Western Express Digital Train Set with eLink and TTS Loco Train Set', '7e2aa2b4596a39ba852449718413d7cc')

In [27]:
columns = [column[0] for column in cursor.description]

In [28]:
columns

['manufacturer',
 'price',
 'number_available_in_stock',
 'number_of_reviews',
 'number_of_answered_questions',
 'average_review_rating',
 'customers_who_bought_this_item_also_bought',
 'items_customers_buy_after_viewing_this_item',
 'sellers',
 'used_or_unused',
 'category',
 'sub_category',
 'names',
 'ids']

In [29]:
df.loc[df["names"]==res[0][-2],:].index

Int64Index([3], dtype='int64')

In [32]:
cursor.execute("SELECT ids FROM PRODS_AMAAN WHERE ind=?",5).fetchall()[0][0]

'e4bbad5854ce01970f9e6b879407f72d'